 hr.rounded {
     border-top: 8px solid #bbb;
     border-radius: 5px;
 }
 
 .bg {
     background-color: rgba(255, 255, 255, 0.911);
     box-shadow: 0 10px 20px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%);
     padding: 5px 20px;
 }
 
 .bg_form {
     background: linear-gradient(to right, #2a55b1, #ffffff24);
 } 